@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --cursive: 'Kaushan Script', cursive;
  --sans-serif: 'Quicksand', sans-serif;

  --theme-color-light: #E0F7FA;
  --theme-color-medium: #B2EBF2;
  --theme-color-bold: #80DEEA;
  --theme-color-default: #FAFAFA;
}

body { font-family: var(--sans-serif);}
header { background: var(--theme-color-medium); }
footer { background: var(--theme-color-bold); }

.light { background: var(--theme-color-light); }
.light-border { border-color: var(--theme-color-light); }
.default { background: var(--theme-color-default); }

.scrollbar::-webkit-scrollbar { width: 8px; height: 8px; }
.scrollbar::-webkit-scrollbar-thumb { background-color: #E0E0E0; border-radius: 20px; }
.scrollbar::-webkit-scrollbar-track { background-color: #f5f5f5; }

.active { position: relative; }
.active::before { background: #333; width: 25%; height: 1px; border-radius: 5px; position: absolute; bottom: -20%; content: ''; }

.translate { transition: all 0.3s ease-in-out; }
.translate:hover { transform: translateY(-8px); }